services:
  # === MASTER DB ===
  db:
    image: postgres:15-alpine
    build:
      context: .
      dockerfile: Dockerfile.db
    container_name: traveler-db
    environment:
      POSTGRES_DB: traveler_api_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 09125689
      ROLE: publisher
      REP_USER: replication_user
      REP_PASS: secret_replication_pass
    ports:
      - "127.0.0.1:5437:5432"
    command:
      - "postgres"
      - "-c"
      - "wal_level=replica"
      - "-c"
      - "max_replication_slots=10"
      - "-c"
      - "max_wal_senders=10"
      - "-c"
      - "max_connections=1200"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  # === REPLICA DB 1 ===
  db-replica-1:
    image: postgres:15-alpine
    container_name: traveler-db-replica-1
    environment:
      REP_USER: replication_user
      PGPASSWORD: secret_replication_pass
    ports:
      - "127.0.0.1:5438:5432"
    command: >
      bash -c "
      rm -rf /var/lib/postgresql/data/*;
      until pg_isready -h db -p 5432 -U postgres; do
        echo 'Waiting for master...';
        sleep 2;
      done;
      echo 'Starting base backup...';
      pg_basebackup -h db -p 5432 -U $$REP_USER -D /var/lib/postgresql/data -R -P -X stream;
      
      echo \"primary_conninfo = 'host=db port=5432 user=$$REP_USER password=$$PGPASSWORD application_name=traveler_replica_1'\" >> /var/lib/postgresql/data/postgresql.auto.conf;
      
      echo 'Starting replica 1...';
      docker-entrypoint.sh postgres -c max_connections=1200
      "
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - postgres_replica_1_data:/var/lib/postgresql/data

  # === REPLICA DB 2 ===
  db-replica-2:
    image: postgres:15-alpine
    container_name: traveler-db-replica-2
    environment:
      REP_USER: replication_user
      PGPASSWORD: secret_replication_pass
    ports:
      - "127.0.0.1:5439:5432"
    command: >
      bash -c "
      rm -rf /var/lib/postgresql/data/*;
      until pg_isready -h db -p 5432 -U postgres; do
        echo 'Waiting for master...';
        sleep 2;
      done;
      echo 'Starting base backup...';
      pg_basebackup -h db -p 5432 -U $$REP_USER -D /var/lib/postgresql/data -R -P -X stream;
      
      echo \"primary_conninfo = 'host=db port=5432 user=$$REP_USER password=$$PGPASSWORD application_name=traveler_replica_2'\" >> /var/lib/postgresql/data/postgresql.auto.conf;
      
      echo 'Starting replica 2...';
      docker-entrypoint.sh postgres -c max_connections=1200
      "
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - postgres_replica_2_data:/var/lib/postgresql/data

  # === CONFIGURATOR ===
  db-configurator:
    image: postgres:15-alpine
    container_name: traveler-db-configurator
    environment:
      PGPASSWORD: 09125689
    command: >
      bash -c "
      echo 'Waiting for Master DB...';
      until pg_isready -h db -p 5432 -U postgres; do sleep 2; done;
      
      echo 'Waiting for 2 Replicas...';
      until [ \$(psql -h db -U postgres -d traveler_api_db -t -c 'SELECT count(*) FROM pg_stat_replication') -ge 2 ]; do
        echo 'Waiting...';
        sleep 2;
      done;
      
      echo 'Replicas connected! Enabling FULL SYNC...';
      
      psql -h db -U postgres -c \"ALTER SYSTEM SET synchronous_standby_names = 'FIRST 2 (traveler_replica_1, traveler_replica_2)';\";
      psql -h db -U postgres -c \"SELECT pg_reload_conf();\";
      
      echo 'SUCCESS: Both replicas are now SYNCHRONOUS.';
      "
    depends_on:
      db:
        condition: service_healthy
      db-replica-1:
        condition: service_started
      db-replica-2:
        condition: service_started

  # === API ===
  app:
    build: .
    container_name: traveler-api
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/traveler_api_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 09125689
      SPRING_JPA_HIBERNATE_DDL_AUTO: validate
    depends_on:
      db:
        condition: service_healthy
    restart: on-failure

volumes:
  postgres_data:
  postgres_replica_1_data:
  postgres_replica_2_data: