version: '3.8'

services:
  # === MASTER DB (Publisher) ===
  db:
    image: postgres:15-alpine
    build:
      context: .
      dockerfile: Dockerfile.db
    container_name: traveler-db
    environment:
      POSTGRES_DB: traveler_api_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 09125689
      ROLE: publisher
    ports:
      - "5432:5432"
    # Специфічні налаштування для Master (Publisher)
    command:
      - "postgres"
      - "-c"
      - "wal_level=replica"
      - "-c"
      - "max_replication_slots=10"
      - "-c"
      - "max_wal_senders=10"
      - "-c"
      - "max_connections=1200"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  # === REPLICA DB (Standby) ===
  db-replica:
    image: postgres:15-alpine
    container_name: traveler-db-replica
    environment:
      PGPASSWORD: rep_password # Пароль користувача rep_user для pg_basebackup
    ports:
      - "5433:5432"
    command: >
      bash -c "
      rm -rf /var/lib/postgresql/data/*;
      until pg_isready -h db -p 5432 -U postgres; do
        echo 'Waiting for master to become ready...';
        sleep 2;
      done;
      echo 'Starting base backup...';
      pg_basebackup -h db -p 5432 -U rep_user -D /var/lib/postgresql/data -R -P -X stream;
      echo 'Starting replica...';
      docker-entrypoint.sh postgres -c max_connections=1200
      "
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - postgres_replica_data:/var/lib/postgresql/data

  # === API ===
  app:
    build: .
    container_name: traveler-api
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/traveler_api_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 09125689
      # Вимикаємо ddl-auto, бо ми тепер створюємо таблиці через скрипт
      SPRING_JPA_HIBERNATE_DDL_AUTO: validate
    depends_on:
      db:
        condition: service_healthy
    restart: on-failure

volumes:
  postgres_data:
  postgres_replica_data: